// fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


// colors variables
// Bright orange: hsl(31, 77%, 52%)
// Dark cyan: hsl(184, 100%, 22%)
// Very dark cyan: hsl(179, 100%, 13%)
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
// Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
$transp-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

$body-font-sz: 15px;
$lexend-deca: 'Lexend Deca', sans-serif;
$shoulder-display: 'Big Shoulders Display', cursive;

body {
  background-color: $light-gray;
  font-size: $body-font-sz;
}

.card-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

@media only screen and (min-width: 768px) {
  .card-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 20%;
    display: flex;
    flex-direction: row;
    border-radius: 100%;
  }

  .column {
    padding: 2.2rem;

    &-l {
      border-top-right-radius: 0px !important;
      border-bottom-left-radius: 10px;
    }
  
    &-r {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px !important;
    }
  }

  .learn-more {
    margin-top: 6rem;
  }
}

.column {
  padding: 3rem;

  &-l {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-r {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.bg {
  &-orange {
    background-color: $bright-orange;
  }

  &-cyan {
    background-color: $dark-cyan;
  }

  &-dark-cyan {
    background-color: $very-dark-cyan;
  }
}

.heading {
  font-family: $shoulder-display;
  color: $light-gray;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin: 30px 0;
}

.paragraph {
  font-family: $lexend-deca;
  color: $transp-white;
  text-align: left;
  line-height: 1.6;
}

.learn-more {
  margin-top: 20px;
  margin-bottom: 10px;
}

.info-pill {
  border-radius: 20px;
  padding: 10px 25px;
  border: 2px solid $light-gray;
  background-color: $light-gray;
}

.info-pill:hover {
  background-color: transparent;
  color: $light-gray;
  border: 2px solid $light-gray;
}

.color {
  &-orange {
    color: $bright-orange;
  }

  &-cyan {
    color: $dark-cyan;
  }

  &-dark-cyan {
    color: $very-dark-cyan;
  }
}

.icon {
  margin-top: 5px;
}