// fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


// colors variables
// Bright orange: hsl(31, 77%, 52%)
// Dark cyan: hsl(184, 100%, 22%)
// Very dark cyan: hsl(179, 100%, 13%)
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
// Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
$transp-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

$body-font-sz: 15px;
$lexend-deca: 'Lexend Deca', sans-serif;
$shoulder-display: 'Big Shoulders Display', cursive;

body {
  background-color: $light-gray;
  font-size: $body-font-sz;
}

.card-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 20%;
  display: flex;
  flex-direction: row;
}
